<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spice Central</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    {% load static %}
                    <img src="{% static 'spices/spice.png' %}">
                </a>
        
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>
        
                    <a class="navbar-item">
                        Shop
                    </a>
        
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>
        
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero is-small is-success mb-4">
            <div class="hero-body">
                <h1 class="title is-1">Spice Central</h1>
                <p class="subtitle is-4">
                    Your custom built spice kits made to order and deliver to your door
                </p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">
                    Hello Spice Central!
                </h1>
                <p class="subtitle">
                    My new website for <strong>Custom Spices</strong>
                </p>
                <button class="button is-link is-small">Button</button>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="box" style="background-color: #dcdec2;">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        {% load static %}
                                        <img src="{% static 'spices/spice.png' %}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Cumin</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas.
                                            Nullam condimentum luctus turpis.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            Second column
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            Third column
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>

</html>