{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% for product in products %}
                    <div class="column is-one-fourth">
                        <div class="box" style="background-color: #dcdec2;">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image">
                                        <img src="{{ product.image }}" alt="{{ product.name }}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ product.name }}</strong>
                                            <br>
                                            {{ product.description }}
                                            <br>
                                            <strong>${{ product.price }}</strong>
                                        </p>
                                        <button class="button is-info is-rounded is-outlined">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}