<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spice Central | Shop</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>

        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'index' %}">
                    {% load static %}
                    <img src="{% static 'spices/spice-central-logo.png' %}" style="max-width: 260px; max-height: 90px;">
                </a>
        
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'index' %}">
                        Home
                    </a>
        
                    <a class="navbar-item" href="{% url 'shop' %}">
                        Shop
                    </a>
        
                    <a class="navbar-item">
                        About
                    </a>
        
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>
        
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                        <a class="button is-light">
                            Cart
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero is-small is-info is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <figure class="image">
                        <img src="/static/spices/spicebanner.jpg" alt="Spices"
                            style="display: block; margin: 0 auto; width: 300px; height: 200px;">
                    </figure>
                    <h1 class="title">Welcome to the Spice Shop</h1>
                    <h2 class="subtitle">Choose the spices you want in your custom spice kit from the options below!</h2>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-fluid">
                <div class="columns is-multiline">
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    {% load static %}
                                    <img src="{% static 'spices/Cumin-Spice.webp' %}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Cumin</p>
                                        <p class="subtitle is-6">$2.00</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deleniti placeat dolores molestiae voluptatum, tempora neque tempore iure repudiandae quia dolorem itaque ipsa id. Dolor voluptas similique architecto corporis.
                                </div>
                            </div>
                            <footer class="card-footer">
                                <button class="button is-info is-rounded is-outlined">
                                    Add to Cart
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    {% load static %}
                                    <img src="{% static 'spices/paprika.jpg' %}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Paprika</p>
                                        <p class="subtitle is-6">$2.50</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deleniti placeat dolores
                                    molestiae voluptatum, tempora neque tempore iure repudiandae quia dolorem itaque ipsa id. Dolor voluptas
                                    similique architecto corporis.
                                </div>
                            </div>
                            <footer class="card-footer">
                                <button class="button is-info is-rounded is-outlined">
                                    Add to Cart
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    {% load static %}
                                    <img src="{% static 'spices/cinamon.jpg' %}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Cinamon</p>
                                        <p class="subtitle is-6">$3.00</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deleniti placeat dolores
                                    molestiae voluptatum, tempora neque tempore iure repudiandae quia dolorem itaque ipsa id. Dolor voluptas
                                    similique architecto corporis.
                                </div>
                            </div>
                            <footer class="card-footer">
                                <button class="button is-info is-rounded is-outlined">
                                    Add to Cart
                                </button>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    {% load static %}
                                    <img src="{% static 'spices/cinamon.jpg' %}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Cinamon</p>
                                        <p class="subtitle is-6">$3.00</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deleniti placeat dolores
                                    molestiae voluptatum, tempora neque tempore iure repudiandae quia dolorem itaque ipsa id. Dolor voluptas
                                    similique architecto corporis.
                                </div>
                            </div>
                            <footer class="card-footer">
                                <button class="button is-info is-rounded is-outlined">
                                    Add to Cart
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
    
</html>